{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/sign_in.css' %}">
{% endblock %}

{% block content %}

<div class="main_block">
    <div class="form_block">
        <form method="post">
            {% csrf_token %}
            <div class="block_in_form">
                <div class="block_username">
                    <label>Введите новый пароль</label>
                    <p>{{ form.new_password1 }}</p>
                </div>
                <div class="block_password">
                    <label>Введите новый пароль повторно</label>
                    <p>{{ form.new_password2 }}</p>
                </div>
                <div>
                    <button type="submit">Изменить пароль</button>
                </div>
            </div>
        </form>
        {% if form.errors %}
        <div class="alert alert-danger">
            {% for field, errors in form.errors.items %}
                <p>{{ field }}: {{ errors }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

    

{% endblock %}